<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yds.order.dao.EmpDao">
	<sql id="where">
		<where>
			<if test="username!=null and username!=''">
				username like
				concat("%",#{username},"%")
			</if>
		</where>
	</sql>
	<select id="findPageObjects"
		resultType="com.yds.common.vo.EmpNode">
		select *
		from yds_emp
		<include refid="where" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<!-- 获取用户记录总数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from yds_emp
		<include refid="where" />
	</select>

	<select id="doFindObjectById" parameterType="int"
		resultMap="ydsEmpRoleVo">
		select *
		from yds_emp
		where id=#{empId}
	</select>
	<resultMap type="com.yds.common.vo.YdsEmpRoleVo"
		id="ydsEmpRoleVo">
		<!-- one2one,many2one 基于部门id查询部门信息 然后将查询结果映射到SysUserDeptVo 类的sysDept属性 -->
		<association property="ydsRole" column="roleId"
			select="com.yds.order.dao.EmpRoleDao.findRoleIdByEmpId">
		</association>
	</resultMap>
	<insert id="doSaveObject"
		parameterType="com.yds.order.entity.YdsEmp">
		<!-- 说明,selectKey一般用户获取id主键值 -->
		<selectKey keyProperty="id" resultType="int" order="AFTER"><!-- order表示在insert之前还是之后 -->
			<!-- 获取自增最后的id值(假如id不是自增,则如下函数无效) -->
			select last_insert_id()
		</selectKey>
		insert into yds_emp
		(username,password,salt,email,mobile,valid,createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{username},#{password},#{salt},#{email},#{mobile},#{valid},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>
	<!-- 修改员工信息 -->
	<update id="doUpdateObject">
		update yds_emp set
		username=#{username},
		email=#{email},mobile=#{mobile},
		modifiedTime=now(),modifiedUser=#{modifiedUser}
		where id=#{id}
	</update>
	<!-- 禁用启用 -->
	<update id="validById">
		update yds_emp
		set valid=#{valid},
		modifiedUser=#{modifiedUser},
		modifiedTime=now()
		where id=#{id}
	</update> 
	<!-- 根据用户名查询用户信息 -->
	<select id="findUserByUserName"
           resultType="com.yds.order.entity.YdsEmp" parameterType="String">
      select *
      from yds_emp  
      where username=#{username}
   </select>
   <!-- 删除员工信息 -->
   <delete id="doDeleteObject">
   		delete from yds_emp where id=#{id}
   </delete>
	
</mapper>