<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yds.order.dao.TableDao">
    <select id="findAll" resultType="com.yds.order.entity.Table">
        select * from yds_table
        <include refid="findById"></include>
        order by createdTime desc limit
        #{pageStart},#{pageSize}
    </select>

    <sql id="findById">
        <where>
            <if test="state!=null">
                state=#{state}
            </if>
        </where>
    </sql>

    <select id="findCount" resultType="int">
        select count(*) from yds_table
        <include refid="findById"></include>
    </select>
    
    <!-- 根据id 查询桌位信息 -->
	<select id="findObjectByTableId" resultType="com.yds.order.entity.Table">
		select * from yds_table where id = #{id}
	</select>

	<!-- 根据桌位号找id-->
	<select id="fingIdByTablenum" resultType="Integer">
		select id from yds_table where tabnum = #{tablenum}
	</select>

    <!--    useGeneratedKeys="true"表示使用自增主键值-->
    <!--    keyProperty="id"表示将主键值赋值为参数对象的哪个属性-->
    <insert id="saveObject" parameterType="com.yds.order.entity.Table" useGeneratedKeys="true" keyProperty="id">
        insert into yds_table
        (id,tabnum,area,createdTime,state)
        values
        (null,#{tabnum},#{area},#{createdTime},#{state})
    </insert>

    <update id="updateState" parameterType="int">
        update yds_table set state=#{state} where id=#{id}
    </update>

    <delete id="deleteObjects" parameterType="list">
        delete from yds_table where id in (
        <foreach collection="list" separator="," item="id">
            #{id}
        </foreach>
        )
    </delete>
</mapper>